$background: #fef9f8;
$text: #0d0d0d;
$accent: #ef9273;
$gray: #D0D4DC;
$link: #2D82B7;
$visited: #5E548E;
$invisible: #0000;
$default-spacing: 1em;

* {
  padding: 0;
  margin: 0;
  border: 0;
  color: $text;
}

a {
  color: $link;
  transition: .2s;

  &:visited{
    color: $visited;
  }

  &:hover {
    cursor: pointer;
    color: $accent;
  }
}

body {
  background-color: $background;
}

.container {
  border-top: $default-spacing solid $accent;
}

.header {
  margin: $default-spacing 0 0 0;
  text-align: center;

  h1 {
    margin: 0.3em;
  }
}

.divider {
  border-top: 2px solid $gray;
}


.content {
  font-size: 120%;
  padding: $default-spacing;
  margin: $default-spacing auto;
  max-width: 50em;
  text-align: center;
  width: border-box;
}

.item {
  margin-bottom: .5em;
}

p {
  margin-top: $default-spacing;
  margin-bottom: $default-spacing / 2;
}
