img {
    height: auto;
}

body {
    font-family: Verdana, sans-serif;
}

#pwi-logo-without-oval {
    width: 150px;
}

#title {
    font-family: Georgia, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    font-size: xx-large;
    float: inside;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

section > div {
    line-height: 1.8;
    clear: both;
}

.item-title {
    font-weight: bold;
    margin-right: 5px;
}

.item {
    font-weight: normal;
}