$page-margins: 0.3in;

* {
  box-sizing: border-box;
  margin: 0;
  padding-inline-start: 0;
  font-size: 11pt;
}

@page {
  size: Letter landscape;
  margin: 0;
}

.page {
  padding: $page-margins;
}

h1, h2, h3, h4 {
  margin-bottom: 0.3em;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
  font-weight: normal;
}

.container {
  width: 50%;
}

.left-half {
  float: left;
  padding-right: $page-margins;
}

.right-half {
  float: right;
  padding-left: $page-margins;
}

.tagline {
  font-style: italic;
}

.section {
  break-inside: avoid-column;
  margin-bottom: 0.25in;
}

.centered {
  text-align: center;
}

.announcement {
  text-align: left;

  span {
    display: block;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
  }

  p {
    margin-left: 0.5em;
  }
}

.leader-list {
  list-style: none;
  text-align: left;
  overflow-x: hidden;

  li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
    ".............................."
    ".............................."
    ".............................."
    ".............................."
    ".............................."
    ".............................."
    "..............................";
  }

  .title {
    background: white;
    padding-right: 0.3em;
  }

  .name {
    padding-left: 0.3em;
    background: white;
    float: right;
  }
}